<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Users</title>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            border-color: #ccc;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #fff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

<h1>Users</h1>
<br/><br/>
<p>Put your information here </p>
<p>For First and Last Name use only letters and put less than 20 letters</p>
<p>For Phone Number use only numbers and exactly 11 numbers</p>
<p>For Email use symbol @ and ".", letters and numbers, but less than 64 symbols</p>
        <form action="#" id="add_id" th:action="@{/users}" th:object="${addUser}" method = "POST" onsubmit="ValidEmail()">
            <table class="tg" id="input_table">
            <td width="80"></td>
            <td> <input type="text" th:field="*{firstName}" id="first" pattern="^[a-zA-Zа-яА-Я]+$" required maxlength="20"/></td>
            <td> <input type="text" th:field="*{lastName}" id="last" pattern="^[a-zA-Zа-яА-Я]+$" required maxlength="20"/></td>
            <td> <input type="text" th:field="*{phoneNumber}" id="phone" pattern="^([\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" minlength="11" maxlength="11" required/></td>
            <td> <input type="email" th:field="*{email}" id="email" required maxlength="64" onblur="ValidEmail()"/></td>
                <td width="60"> <input type="submit" id="add_button" value="Add" /></td>
                <script type="text/javascript">
                    function ValidEmail(){
                        let re = /^[\w-.]+@[\w-]+\.[a-z]{2,4}$/;
                        let email = document.getElementById("email").value;
                        if (!re.test(email)) {
                            alert('Type correct Email!');
                        } else return re.test(email);
                    }
                </script>
            </table>
        </form>

    <table class="tg" id="table">
            <tr>
                <th width="80">ID</th>
                <th width="177">First Name</th>
                <th width="177">Last Name</th>
                <th width="177">Phone Number</th>
                <th width="177">Email</th>
                <th width="60">Edit</th>
                <th width="60">Delete</th>
            </tr>
<tr  th:each ="user : ${users}">
    <td th:text="${user.id}" ></td>
    <td th:text="${user.firstName}" class="editable" contenteditable="false" ></td>
    <td th:text="${user.lastName}" class="editable" contenteditable="false" ></td>
    <td th:text="${user.phoneNumber}" class="editable" contenteditable="false" ></td>
    <td th:text="${user.email}" class="editable" contenteditable="false" ></td>
    <td>
        <button type="button" id="edit_button" onclick="Edit()">Edit</button>
        <button type="button" id="save_button" style="display: none" onclick="Save()">Save</button>
    </td>
    <script type="text/javascript">
        $("#edit_button").click(function () {
            $("#edit_button").hide();
            $("#save_button").show();
        });
    </script>
    <script type="text/javascript">

        function Edit() {
            let editable = document.querySelectorAll("[contenteditable=false]")
            editable[0].setAttribute("contenteditable", true);
            editable[1].setAttribute("contenteditable", true);
            editable[2].setAttribute("contenteditable", true);
            editable[3].setAttribute("contenteditable", true);
        }

        function Save() {
            let re1 = /^[a-zA-Zа-яА-Я]+$/;
            let re2 = /^([0-9][\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/;
            let re3 = /^[\w-.]+@[\w-]+\.[a-z]{2,4}$/;

            let editable = document.querySelectorAll("[contenteditable=true]");
            let edit1 = editable[0].textContent;
            let edit2 = editable[1].textContent;
            let edit3 = editable[2].textContent;
            let edit4 = editable[3].textContent;

            if (!re1.test(edit1)) {
                alert('Type correct First Name!');
            } else {
                if (!re1.test(edit2)) {
                    alert('Type correct Last Name!');
                } else{
                    if (!re2.test(edit3) || edit3.length!==17) {
                        alert('Type correct Phone Number!');
                    } else {
                        if (!re3.test(edit4)) {
                            alert('Type correct Email!');
                        } else {
                            if (edit1.length===0 || edit2.length===0 || edit1.length===0 || edit4.length===0){
                                alert('Fields cannot be empty!');
                            } else {
                                if (edit1.length>20 || edit2.length>20 || edit3.length>17 || edit4.length>64){
                                    alert('Fields cannot be too long!');
                                } else {
                                    $("#save_button").hide();
                                    $("#edit_button").show();
                                    editable[0].setAttribute("contenteditable", false);
                                    editable[1].setAttribute("contenteditable", false);
                                    editable[2].setAttribute("contenteditable", false);
                                    editable[3].setAttribute("contenteditable", false);
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>

                <td><form method="POST" th:action="@{/delete(id=${user.id})}">
                    <button type="submit">Delete</button></form></td>
            </tr>
        </table>
</body>
</html>

